<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="https://kit.fontawesome.com/37e6ce0705.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="assets/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
        <div id="root">
            <div class="app-left">
                <div class="left-account">
                    <div class="left-account-logo">
                        <img :src="'img/' + user.avatar + '.png'" alt="">
                        <span>{{user.name}}</span>
                    </div>
                    <div class="left-icone">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="left-notifica">
                    <div class="left-notifica-logo">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="left-notifica-testo">
                        <h3>Ricevi notifiche di nuovi messaggi</h3>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>
                <div class="left-barra-ricerca">
                    <label for="search" class="left-ricerca-label">
                        <i class="fas fa-search"></i>
                    </label>
                    <input type="contacts-filter" placeholder="Cerca o inizia una nuova chat" name="ricerca" class="left-barra-ricerca-input" v-model="stringaDaRicercare">
                </div>
                <div class="left-contatti">
                    <!-- <div class="contatto">
                        <div class="contatto-logo">
                            <img src="img/I1.png" alt="">
                        </div>
                        <div class="contatto-info clearfix">
                            <h3 class="contact-name">Nome contatto</h3>
                            <span class="time">12:00</span>
                            <small>Ultimo messaggio inviato</small>
                        </div>
                    </div> -->
                    <div class="contatto" v-for="(contatto, indice) in ricercaContatti" @click="cambia_chat(indice)">
                        <div class="contatto-logo">
                            <img v-bind:src="'img/' + contatto.avatar + '.png'" alt="">
                        </div>
                        <div class="contatto-info">
                            <div class="box-contatto">
                                <h3 class="contact-name">{{contatto.name}}</h3>
                                <span class="time">12:00</span>
                            </div>
                            <small>Ultimo messaggio inviato</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-right">
                <div class="right-account">
                    <div class="right-account-logo">
                        <img :src="'img/'+contacts[indice_contatto].avatar+'.png'" alt="">
                        <span>{{contacts[indice_contatto].name}}</span>
                    </div>
                    <div class="right-icone">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="right-container-messaggi">
                    <div class="right-messaggi">
                        <div v-for="(messaggio, indice_messaggio) in contacts[indice_contatto].messages" :class="classeMessaggio(indice_messaggio)">
                            <span class="testo-messaggio">{{messaggio.message}}</span>
                            <small class="tempo-messaggio">{{messaggio.date}}</small>
                        </div>
                    </div>
                </div>
                <div class="right-footer">
                    <div class="right-footer-icona">
                        <i class="far fa-smile"></i>
                    </div>
                    <input placeholder="Scrivi un messaggio" class="right-footer-input-messaggio" v-model="nuovoMessaggio"
                    @keyup.enter="aggiungiMessaggio"
                    >
                    <div class="right-footer-icona">
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
            </div>
        </div>
        <script src="assets/main.js" charset="utf-8"></script>
    </body>
</html>
